/* medium view */

@media (min-width: 600px) {
	header {
		flex-direction: row;
	}

    header
    {
        border-radius: 8px 8px 0 0;
    }

    footer
    {
        border-radius: 0 0 8px 8px;
    }

	img
    {
        width: 200px;
        height: auto;
        padding: 12px;
        border-radius: 18%;
    }

    header .image
    {
        overflow: hidden;
        border-radius: 8px;
    }
}