/* Small View */

/*=============================================
=                  All Elements               =
=============================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  /*font-family: 'M PLUS 1', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;*/
}

img {
  width: 100%;
}

header, footer {
  background-color: #32657F;
  color: white;
  text-align: center;
}

.title {
  padding: 10px;
}

/* nav menu */
.topnav {
  overflow: hidden;
  background-color: #32657F;
  position: relative;
}

/* hides links */
.topnav #myNavLinks {
  display: none;
}

/* Nav links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hamburger Menu */
.topnav a.icon {
  background: #32657F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Hover */
.topnav a:hover {
  background-color: #32657F;
  color: white;
}

/* Active "link" */
.active {
  background-color: #32657F;
  color: white;
  padding: 20px;
}

main {
  margin: 10px;
}

button {
  width: 100px;
  height: 25px;
  background-color: #E5A988;
  color: white;
  border-radius: 2rem;
  border-style: none;
}

.title {
  display: flex;
  text-align: left;
  font-size: 14px;
  justify-content: center;
}

#logo {
  height: 50px;
  width: 50px;
}

.alert {
  background-color: #E5A988;
}

.footerb{
  background-color: #32657F;
  padding: 10px;
}

/*=====  End of All Elements  ======*/


/*=============================================
=            Home Elements                    =
=============================================*/
.box {
  border-style: solid;
  border-color: #0A97DC;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.weather {
  background-color: #E5A988;
}
/*=====  End of Home Elements  ======*/