/* Small View */

/*=============================================
=                  All Elements               =
=============================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif, Arial;
}

img {
  width: 100%;
}

header, footer {
  background-color: #32657F;
  color: white;
  text-align: center;
}

/*----------  Header  ----------*/
/* title, logo, nav links, hamburger menu icon, light blue line, and weather alert*/

/* nav menu */
.topnav {
  overflow: hidden;
  background-color: #32657F;
  position: relative;
}

/* class = title */
/* logo and title */
.title {
  padding: 10px;
}

.hamburger-icon {
  display: grid;
  grid-template-columns: 1fr;
}

#hamburger {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding: 10px;
  grid-column: 2/3;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Active "link" */
.active {
  background-color: #32657F;
  color: white;
  padding: 20px;
  grid-column: span 2;
  grid-row: 3/4;
}

.active h1 {
  font-weight: 600;
}

#logo {
  height: 100px;
  width: 100px;
}

/* id = myNavLinks */
/* hides links */
.topnav #myNavLinks {
  display: none;
}

/* Nav links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Hamburger Menu */
.topnav a.icon {
  background: #32657F;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Hover */
.topnav a:hover {
  background-color: #32657F;
  color: white;
}

.alert {
  background-color: #E5A988;
  width: 100%;
  padding: 15px;
}

#close {
  height: 20px;
  width: 20px;
  float: left;
  cursor: pointer;
}

.footerb {
  background-color: #32657F;
  padding: 10px;
}

.blue-background {
  width: 100%;
  height: 40px;
  background-color: #89B5C3;
}

/*----------  Main  ----------*/
/* title, logo, nav links, hamburger menu icon, light blue line, and weather alert*/
button {
  width: 125px;
  height: 30px;
  background-color: #E5A988;
  color: white;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}

/*=====  End of All Elements  ======*/


/*=============================================
=            Home Elements                    =
=============================================*/
.box {
  border-style: solid;
  border-color: #0A97DC;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.weather {
  background-color: #E5A988;
  border-radius: 8px;
}

h2 {
  font-weight: 400;
  padding: 10px;
}

/*=====  End of Home Elements  ======*/