@media (min-width: 765px) {

    .foto-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: 1040px) {

        .templeCards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
        }
    }
}