/* Small View */
/* --ALL-- */
* 
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body 
    {
        font-size: 16px;
        font-family: 'Lato', Arial, Helvetica;
        background-color: rgb(255, 255, 255);
    }


/*__________________ HEADER FOOTER __________________*/
header 
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;
    }

.title
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.title img
    {
        padding: 8px;
    }

.title h1
    {
        padding: 8px;
    }

img
    {
        width: 120px;
    }

/* -- FOOTER -- */    
footer
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;

        justify-content: center;
        align-items: center;
    }

footer h3
    {
        font-size: 30px;
    }

footer div.social img
    {
        width: 30px;
        height: auto;
    }

footer section.box4 div.social ul li 
    {
        display: inline;
    }

footer section.box1,
footer section.box3,
footer section.box4
    {
        text-align: left;
        padding: 8px;
        width: 200px;
    }

footer section.box2
    {
        padding: 8px;
    }

footer section.box5
    {
        padding: 8px; 
        text-align: center;
    }

footer section p
    {
        padding-top: 9px;
    }

footer section.box4 p
    {
        padding-bottom: 9px;
    }


/* -- BANNER -- */
.greeting
    {
        color: rgb(255, 255, 255);
        background: rgb(182, 75, 46);
        padding: 13px;
        text-align: center;
    }

header nav 
	{
		margin: 0 auto;
		background-color: rgb(182, 75, 46);
		width: 100%;
	}

.navigation
	{
		list-style: none;
		text-align: center;
		padding: 0;
	}

.navigation li:first-child
	{
		display: block;
	}

.navigation li
	{
		display: none;
	}

.navigation a
	{
		display: block;
		color: rgb(255, 255, 255);
		padding: 0.75rem;
		text-align: center;
		text-decoration: none;
	}

.navigation a:hover
	{
		color: rgb(255, 255, 255);
		background-color: rgb(235, 155, 106);
		font-weight: 900;
	}

.responsive li
	{
		display: block;
	}    

/*__________________ HOME PG MAIN __________________*/
main
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

main section 
    {
        width: 100%;
        height: auto;
        background-color: rgb(235, 156, 107);
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
    }


/*__________________ DISCOVER PG MAIN __________________*/



/*__________________ CLEAR FIX __________________*/
/* --- Clearfix: Force an Element not to collapse (Brother Cheney)--- */

.clearfix:after 
{
content: "";
display: table;
clear: both;
}