/*----------  SMALL VIEW  ----------*/

/*
    This CSS is the small view or phone view of the web page.
*/

/*=============================================
=                   CONTENT                   =
=============================================*/
*
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0; 
    }

body 
    {
        font-family: 'Lato', Arial, Helvetica;
        font-size: 16px;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }

/*=====  End of CONTENT   ======*/




/*=============================================
=                   HEADER                   =
=============================================*/
header
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        display: flex;
        flex-flow: column;
    }

.greeting 
    {
        background: rgba(253, 188, 23, 0.795);
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
        width: 100%;
    }

.title
    {
        color:rgb(255, 255, 255);
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

.title img
    {
        width: 100px;
        padding-right: 5px;
        padding-left: 8px;
    }

nav 
	{
	    background-color: rgb(182, 75, 46);
		margin: 0 auto;
        width: 100%;
	}

.navigation
	{
		list-style: none;
		padding: 0;
		text-align: center;
	}

.navigation li:first-child
	{
		display: block;
	}

.navigation li
	{
		display: none;
	}

.navigation a
	{
	    color: rgb(255, 255, 255);
		display: block;
		padding: 0.75rem;
		text-align: center;
		text-decoration: none;
	}

.navigation a:hover
	{
	    background-color: rgb(158, 61, 34);
		color: rgb(255, 255, 255);
        width: 100%;
        padding: 10px;
	}

.responsive li
	{
		display: block;
	} 
/*=====  End of HEADER   ======*/




/*=============================================
=                   MAIN                      =
=============================================*/

/*----------  Subsection Index STRT  ----------*/
.welcome img, 
.weather img,
.news img
    {
        width: 100%;
    }

.news img
    {
        width: 200px;
        padding: 8px;
    }

.weatherGrid
    {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

.weather img
    {
        width: 280px;
    }

.weatherText
    {
        padding: 20px;
    }

.event span
    {
        padding: 10px;
    }

/*Dark*/
.event,
.news
    {
        background-color: rgb(202, 103, 73);
        color:rgb(255, 255, 255);
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
    }

/*Light*/
.weather,
.spotlight,
.welcome
    {
        background-color: rgb(255, 255, 255);
        border-style: solid; 
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
    }

.home h2
    {
        text-align: center;
    }

.calendar
    {
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 10px;
    }

.date
    {
        background-color: rgb(248, 182, 45);
        border-radius: 8px;
        padding: 8px;
        text-align: center;
    }

.eventtitle,
.eventduration
    {
        color: rgb(35, 24, 22);
        margin-left: 20px; 
    }


/*----------  Subsection Index END  ----------*/


/*----------  Subsection Discover STRT  ----------*/
/*----------  Subsection Discover END  ----------*/

/*----------  Subsection Directory STRT ----------*/
/*----------  Subsection Directory END  ----------*/


/*----------  Subsection Join STRT ----------*/
/*----------  Subsection Join END  ----------*/


/*----------  Subsection Thank-you STRT ----------*/
/*----------  Subsection Thank-you END  ----------*/


/*----------  Subsection Contact STRT ----------*/
/*----------  Subsection Contact END  ----------*/

/*=====  End of MAIN   ======*/




/*=============================================
=                   FOOTER                   =
=============================================*/
footer
    {
        align-items: center;
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        display: flex;
	    flex-flow: column;
        justify-content: center;
    }

footer h3
    {
        font-size: 30px;
    }

.social img
    {
        height: auto;
        width: 30px;
    }

footer section.box4 div.social ul li 
    {
        display: inline;
    }

.box1,
.box3,
.box4
    {
        padding: 8px;
        text-align: left;
        width: 200px;
    }

.box2
    {
        padding: 8px;
    }

.box5
    {
        padding: 8px; 
        text-align: center;
    }

footer section p
    {
        padding-top: 9px;
    }

.box4 p
    {
        padding-bottom: 9px;
    }

/*=====  End of FOOTER   ======*/