/*----------  SMALL VIEW  ----------*/

/*=============================================
=                   CONTENT                   =
=============================================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*
    font-family: 'Fredoka', sans-serif;
    */
    font-family: 'Nunito', sans-serif, arial;
    font-size: 16px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

img {
    width: 100%;
}


main {
    margin: 14px;
}


/*=====  End of CONTENT   ======*/




/*=============================================
=                   HEADER                   =
=============================================*/
.greeting {
    background-color: rgb(8, 55, 88);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    width: 100%;
}

header {
    display: flex;
    flex-flow: column;
    background-color: rgb(200, 65, 16);
}

.title {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.title h1 {
    padding-left: 8px;
}

.title img {
    width: 100px;
    padding-right: 5px;
    padding-left: 8px;
}

.stg {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 45px;
}

.ch {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

nav {
    background-color: rgb(143, 42, 29);
    margin: 0 auto;
    width: 100%;
}

.navigation {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(124, 37, 25);
    color: rgb(255, 255, 255);
}

.responsive li {
    display: block;
}

/*=====  End of HEADER   ======*/




/*=============================================
=                   MAIN                      =
=============================================*/

/*----------  Subsection Index STRT  ----------*/



/*.home section,
.welcome {
    padding: 10px;
}

div.darkline {
    height: 8px;
    width: 145px;
    border-radius: 9px;
    background-color: rgb(200, 65, 16);
}*/

/*Upcoming Events
.date {
    background-color: #fdbb14;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 9px;
    text-align: center;
}

.eventinfo {
    padding-left: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 10px;
}*/

/*Weather
.weatherContainer {
    background-color: rgb(70, 98, 137);
    color: rgb(255, 255, 255);
    margin: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    text-align: center;
    width: 300px;
}

.weatherBottom {
    background-color: rgb(91, 126, 173);
    width: 100%;
    border-radius: 0 0 9px 9px;
    padding: 35px;
    display: flex;
    justify-content: center;
}

.weatherBottom p {
    padding-left: 20px;
    font-size: 18px;
}

figcaption {
    padding-bottom: 10px;
}

.weatherContainer img {
    width: 65px;
}*/

/*Local News
.news p {
    padding: 10px;
}*/

/*Spotlight

.trust {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gold img,
.trust img {
    width: 150px;
    padding-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

/*----------  Subsection Index END  ----------*/


/*----------  Subsection Discover STRT  ----------*/
.discover {
    text-align: center;
}

.discover picture {
    padding: 8px;
}
/*----------  Subsection Discover END  ----------*/

/*----------  Subsection Directory STRT ----------*/


/*----------  Subsection Directory END ----------*/

/*----------  Subsection Join STRT ----------*/
.join{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member, .levels {
    width: 100%;
    padding: 10px;
}

.joinContainer {
    height: 400px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 400px;
    margin: 9px;
}

form h2 {
    width: 100%;
    border: 3px solid rgb(253, 187, 20);
    padding: 8px;
    border-radius: 8px;
}

form input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    background-color: transparent;
}

::placeholder {
    color: rgba(143, 42, 29, 0.603);
}

.btn-box {
    width: 100%;
    text-align: center;
    display: flex;
}

.btn {
    width: 80px;
    height: 30px;
    background-color: rgb(143, 42, 29);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-right: 10px;
    border-style: none;
    cursor: pointer;
}

#form2, #form3 {
    display: none;
}

.free, .bronze, .silver, .goldm, .trusteem {
    padding: 10px;
}

.price {
    background-color: rgb(253, 187, 20);
    padding: 5px;
    border-radius: 5px;
}

.memberlvls {
    padding-bottom: 10px;
}

.jointitle {
    margin: 10px;
    padding-bottom: 10px;
}

.memberlvls ul {
    list-style: none;
    padding: 0;
}

.step h2, .memberlvls h3 {
    margin-bottom: 10px;
}

.step h2 {
    text-align: center;
}

/*----------  Subsection Join END  ----------*/


/*----------  Subsection Thank-you STRT ----------*/
/*----------  Subsection Thank-you END  ----------*/


/*----------  Subsection Contact STRT ----------*/
.card {
    background-color: violet;
    height: 200px;
    width: 200px;
    margin: 9px;
    padding: 10px;
    border-radius: 9px;
}
/*----------  Subsection Contact END  ----------*/

/*=====  End of MAIN   ======*/




/*=============================================
=                   FOOTER                   =
=============================================*/
footer {
    align-items: center;
    background-color: rgb(200, 65, 16);
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: center;
}

footer h3 {
    font-size: 30px;
}

.social img {
    height: auto;
    width: 30px;
}

footer section.box4 div.social ul li {
    display: inline;
}

.box1,
.box3,
.box4 {
    padding: 8px;
    text-align: left;
    width: 200px;
}

.box2 {
    padding: 8px;
}

.box3 a:hover{
    color:rgb(176, 167, 224);
    text-decoration: none;
}

.box5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    text-align: center;
    font-weight: 200;
}

.box5 h2 {
    font-size: 16px;
    padding: 10px;
    font-weight: 200;
}

.box4 p {
    padding-bottom: 9px;
}

.whiteline {
    height: 2px;
    width: 300px;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
}

/*=====  End of FOOTER   ======*/

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}