/*----------  SMALL VIEW  ----------*/

/**
 * @file
 * Short description describing the file.
 *
 * The first sentence of the long description starts here and continues on this
 * line for a while finally concluding here at the end of this paragraph.
*/




/*=============================================
=            ALL and BODY CONTENT             =
=============================================*/
* 
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

body 
    {
        font-size: 16px;
        font-family: 'Lato', Arial, Helvetica;
        background-color: rgb(255, 255, 255);
    }

img
    {
        width: 100%;
    }

/*=====  End of ALL and BODY CONTENT   ======*/





/*=============================================
=               HEADER CONTENT                =
=============================================*/
header 
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;
    }

.title
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.title img
    {
        padding: 8px;
        width: 120px;
    }

.title h1
    {
        padding: 8px;
    }
    
/*----------  greeting  ----------*/
.greeting
    {
        color: rgb(255, 255, 255);
        background: rgb(182, 75, 46);
        padding: 13px;
        text-align: center;
    }

header nav 
	{
		margin: 0 auto;
		background-color: rgb(182, 75, 46);
		width: 100%;
	}

.navigation
	{
		list-style: none;
		text-align: center;
		padding: 0;
	}

.navigation li:first-child
	{
		display: block;
	}

.navigation li
	{
		display: none;
	}

.navigation a
	{
		display: block;
		color: rgb(255, 255, 255);
		padding: 0.75rem;
		text-align: center;
		text-decoration: none;
	}

.navigation a:hover
	{
		color: rgb(255, 255, 255);
		background-color: rgba(172, 72, 44, 0.74);
		font-weight: 900;
	}

.responsive li
	{
		display: block;
	}    

/*=====  End of HEADER CONTENT  ======*/



    
/*=============================================
=               FOOTER CONTENT                =
=============================================*/  
footer
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;

        justify-content: center;
        align-items: center;
    }

footer h3
    {
        font-size: 30px;
    }

footer div.social img
    {
        width: 30px;
        height: auto;
    }

footer section.box4 div.social ul li 
    {
        display: inline;
    }

footer section.box1,
footer section.box3,
footer section.box4
    {
        text-align: left;
        padding: 8px;
        width: 200px;
    }

footer section.box2
    {
        padding: 8px;
    }

footer section.box5
    {
        padding: 8px; 
        text-align: center;
    }

footer section p
    {
        padding-top: 9px;
    }

footer section.box4 p
    {
        padding-bottom: 9px;
    }

/*=====  End of FOOTER CONTENT  ======*/





/*=============================================
=               MAIN CONTENT                  =
=============================================*/

/*----------  HOME/INDEX/1ST PG  ----------*/
main.home
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

main.home section 
    {
        width: 100%;
        height: auto;
        background-color: rgb(235, 156, 107);
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
    }

main.home section picture img
    {
        width: 100%;
        height: auto; 
    }

main.home section.welcome
    {
        position: relative;
    }
    
main.home section.welcome h2
    {
        position: absolute;
        bottom: 30px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }


/*----------  DISCOVER/2ND PG  ----------*/



/*----------  JOIN AND THANKYOU/3RD and 4TH PG  ----------*/



/*----------  DIRECTORY/5th PG  ----------*/
main.directory
{
    display: flex;
    flex-flow: column;
    
    align-items: center;

    background-color: rgb(235, 155, 106);

    margin: 0;
}

main.directory div.businessCards section
{
    background-color: rgb(255, 255, 255);

    width: 350px;

    padding: 8px;

    margin: 10px;
    
}

main.directory div.businessCards h2
{
    background-color: rgb(202, 103, 71);
    padding: 8px;

    font-size: 18px;

    text-align: center;
}

main.directory div.businessCards p
{
    padding: 4px;
    text-align: center;
}
/*=====  End of MAIN CONTENT  ======*/




/**
 *
 * CLEAR FIX BY BRO CHENEY
 * Clearfix forces an element not to collapse
 *
 */
 .clearfix:after 
 {
 content: "";
 display: table;
 clear: both;
 }