/* Large View */

@media (min-width: 765px) {

    /*=============================================
    =                   MAIN                     =
    =============================================*/
    /*----------Subsection Index STRT  ----------*/
    .home {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr auto;
    }

    .welcome {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .news {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .event {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .weather {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .spotlights {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .trust,
    .gold {
        display: flex;
        flex-direction: column;
    }

    /*----------  Subsection Index END  ----------*/


    /*---------- Subsection Discover STRT ----------*/
    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr auto;
    }

    /*---------- Subsection Discover END ----------*/


    /*---------- Subsection Join STRT ----------*/
    /*---------- Subsection Join END ----------*/


    /*---------- Subsection Thank-you STRT ----------*/
    /*---------- Subsection Thank-you END ----------*/


    /*---------- Subsection Directory STRT ----------*/
    /*---------- Subsection Directory END ----------*/

    /*=====  End of MAIN CONTENT  ======*/



    /*=============================================
    =                   FOOTER                    =
    =============================================*/
    footer .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .box1 {
        grid-column: 1/2;
        justify-self: center;
    }

    .box2 {
        grid-column: 2/3;
        justify-self: center;
    }

    .box3 {
        grid-column: 3/4;
        grid-row: 1/2;
        justify-self: center;
    }

    .box4 {
        grid-column: 4/5;
        grid-row: 1/2;
        justify-self: center;
    }

    .box5 {
        justify-self: center;
        text-align: center;
    }

    .social ul {
        grid-column: span 3;
    }

    /*=====  End of FOOTER CONTENT  ======*/
}