/* Large View */

@media (min-width: 765px) {
    /*=============================================
    =        HEADER/FOOTER CONTENT                =
    =============================================*/ 
    footer div
        {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    
    footer section.box1
        {
            grid-column: 1/2;
            justify-self: center;
        }
    
    footer section.box2
        {
            grid-column: 2/3;
            justify-self: center;
        }
    
    footer section.box3
        {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: center;
            height: 100%;
        }
    
    footer section.box4
        {
            grid-column: 4/5;
            grid-row: 1/2;
            justify-self: center;
            height: 100%;
        }

    footer section.box5
            {
                justify-self: center;
                text-align: center;
            }
    
    footer section.box4 div.social ul
        {
            grid-column: span 3;
        }
    /*=====  End of FOOTER CONTENT  ======*/
    



    /*=============================================
    =               MAIN CONTENT                  =
    =============================================*/ 
    /*----------  HOME/INDEX/1ST PG  ----------*/
    main.home
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto, 1fr);
            row-gap: 10px;
        }

    main.home section.welcome
        {
            grid-row-start: 1;
            grid-row-end: 2;

            grid-column-start: 1;
            grid-column-end: 4;
        }

    main.home section.news
        {
            grid-row-start: 2;
            grid-row-end: 4;
            
            grid-column-start: 2;
            grid-column-end: 3;
            height: 100%;
        }

    main.home section.event
        {
            grid-row-start: 2;
            grid-row-end: 3;
            
            grid-column-start: 1;
            grid-column-end: 2;

            height: 100%;
        }
    
    main.home section.weather
        {
            grid-row-start: 3;
            grid-row-end: 4;
            
            grid-column-start: 1;
            grid-column-end: 2;
            height: 100%;
        }

    main.home section.spotlight
        {

            grid-row-start: 2;
            grid-row-end: 4;
            
            grid-column-start: 3;
            grid-column-end: 4;

            display: flex;
            flex-direction: column;

            height: 100%;
        }

    /*----------  DISCOVER/2ND PG  ----------*/


    /*----------  JOIN AND THANKYOU/3RD and 4TH PG  ----------*/


    /*----------  DIRECTORY/5th PG  ----------*/
    main.directory div.businessCards
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 10px;
        }

    main.directory 	.list section img 
    {
		display: block;
	}

    /*=====  End of MAIN CONTENT  ======*/
}