@media (min-width: 600px) 
{
    /*----------  MEDIUM VIEW  ----------*/
    
    
    /*=============================================
    =                   HEADER                   =
    =============================================*/
    header
        {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 16px 1%;
        }
    
    nav 
        {
            background-color: rgb(182, 75, 46);
            margin: 0 auto;
            width: 100%;
        }

    .navigation li:first-child
        {
            display: none;
        }
    
    .navigation ul
        {
            display: inline;
        }
    .navigation li
        {
            display: inline-block;
            padding: 0px 10px;
        }

    .navigation a
        {
            color: rgb(255, 255, 255);
            text-align: center;
            text-decoration: none;
        }

    .navigation a:hover
        {
            background-color: rgb(158, 61, 34);
            border-radius: 8px;
            color: rgb(255, 255, 255);
        }
    /*=====  End of HEADER   ======*/
    

    /*=============================================
    =                   MAIN                      =
    =============================================*/
    /*----------  Subsection Index STRT  ----------*/
    .home
        {
            display: grid;
            grid-template-columns: 50% 50%;
        }

    .welcome
        {
            grid-column: span 2;
        }
    
    .welcome img
        {
            max-width: 100%;
        }
    
    .weather img
        {
            width: 200px;
            margin-left: 4%;
        }
    
    .weatherText
        {
            padding-bottom: 10px;
        }

    .news img
        {
            background-color: rgb(245, 245, 245);
            width: 200px;
            padding: 8px;
            margin-left: 5%;
        }
    
   /* dark background */
    .spotlight,
    .event
        {
            background-color: rgba(253, 188, 23, 0.795);
            border-style: none;
        }

    /* light background */
    .weather,
    .news
        {
            background-color: rgb(245, 245, 245);
            border-style: solid;
        }

    .events h2,
    .news h2,
    .spotlight h2,
    .weather
        {
            text-align: center;
        }
    /*----------  Subsection Index END  ----------*/

    /*=====  End of MAIN   ======*/


    /*=============================================
    =                   FOOTER                   =
    =============================================*/

    footer div
        {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            padding-top: 30px;
        }
    
    footer section.box1,
    footer section.box2
        {
            grid-row: 1/2;
        }
    
    footer section.box3,
    footer section.box4
        {
            grid-row: 2/3;
        }
    
    footer section.box4 div.social ul
        {
            grid-column: span 2;
        }
    
    /*=====  End of FOOTER  ======*/
    

    
    /*=============================================
    =                 MAIN CONTENT                =
    =============================================*/
    

    
    /*----------  DISCOVER/2ND PG  ----------*/
    
    
    /*----------  JOIN/THANKYOU 3RD/4TH PG  ----------*/

    
    /*----------  DIRECTORY 5TH PG  ----------*/
    main.directory div.businessCards
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 10px;
            padding: 10px;
        }
    
    main.directory div.businessCards section
        {
            padding: 8px;
        
            margin: 8px;
        
            text-align: center;
            
        }
    
    
    /*=====  End of MAIN CONTENT  ======*/
    
    
}