/*----------  SMALL VIEW  ----------*/

/**
 * This CSS is the small view or phone view of the web page.
*/

/*=============================================
=            ALL and BODY CONTENT             =
=============================================*/
html 
    {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body 
    {
        background-color: rgb(245, 245, 245);
        font-family: 'Lato', Arial, Helvetica;
        font-size: 16px;
    }

img
    {
        width: 100%;
    }

/*=====  End of ALL and BODY CONTENT   ======*/




/*=============================================
=               HEADER CONTENT                =
=============================================*/
header 
    {
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;
    }
    
/*----------  Title and Image  ----------*/
.title
    {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

.title img
    {
        padding: 8px;
        width: 120px;
    }

.title
    {
        padding: 8px;
    }
    
/*----------  greeting  ----------*/
.greeting
    {
        background: rgb(182, 75, 46);
        color: rgb(255, 255, 255);
        padding: 13px;
        text-align: center;
    }

/*----------  Navigation  ----------*/    
   

/*=====  End of HEADER CONTENT  ======*/



    
/*=============================================
=               FOOTER CONTENT                =
=============================================*/  
footer
    {
        align-items: center;
        background-color: rgb(202, 103, 71);
        color: rgb(255, 255, 255);
        
        display: flex;
	    flex-flow: column;

        justify-content: center;
    }

footer h3
    {
        font-size: 30px;
    }

.social img
    {
        height: auto;
        width: 30px;
    }

footer section.box4 div.social ul li 
    {
        display: inline;
    }

.box1,
.box3,
.box4
    {
        padding: 8px;
        text-align: left;
        width: 200px;
    }

.box2
    {
        padding: 8px;
    }

.box5
    {
        padding: 8px; 
        text-align: center;
    }

footer section p
    {
        padding-top: 9px;
    }

.box4 p
    {
        padding-bottom: 9px;
    }

/*=====  End of FOOTER CONTENT  ======*/





/*=============================================
=               MAIN CONTENT                  =
=============================================*/
/**
 *
 * HOME PAGE
 *
 */
main.home
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

main.home section 
    {
        background-color: rgb(235, 156, 107);
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 10px;
        width: 100%;
    }


/*----------  sections  ----------*/
.event h2,
.weather h2,
.news h2,
.spotlight h2
        {
            text-align: center;
        }

/*----------  lines under the headers  ----------*/
.line
    {
       padding-bottom: 10px; 
       text-align: center;
    }

/*----------  Hero section  ----------*/    
main.home section picture img
    {
        max-width: 100%; 
    }


/*----------  Weather section  ----------*/
main.home section.weather div.weatherFlex
    {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

main.home section.weather img
    {
       width: 200px; 
    }

.weatherText
    {
        background-color: rgba(255, 255, 255, 0.692);
        padding: 20px;
        margin-left: 10px;
        margin-right: 40px;
    }

/*----------  events section  ----------*/
.event
    {
        height: auto;
        width: 100%;
    }

/* main.home section.welcome
    {
        position: relative;
    }
    
main.home section.welcome h2
    {
        position: absolute;
        bottom: 30px;
        right: 20px;
        background-color: black;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }*/

/**
 *
 * DISCOVER PAGE
 *
 */



/*----------  JOIN AND THANKYOU/3RD and 4TH PG  ----------*/



/*----------  DIRECTORY/5th PG  ----------*/
.directory
{
    align-items: center;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-flow: column;
}

main.directory div.businessCards section
{
    align-content: center;
    background-color: rgb(235, 156, 107);
    margin: 8px;
    padding: 8px;
    text-align: center;
    
    
}

main.directory div.businessCards section img
{
    background-color: rgba(255, 255, 255, 0.486);
    max-width: 100%; /* Images are jerks - Seattle*/
    padding: 10px;
}

main.directory div.businessCards h2
{
    background-color: rgb(202, 103, 71);
    color:rgb(255, 255, 255);
    font-size: 18px;
    padding: 8px;
}

main.directory div.businessCards p
{
    padding: 4px;

}

main.directory .menu button
{
    padding: 1rem;
}

main.directory .menu
{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

/*=====  End of MAIN CONTENT  ======*/




/**
 *
 * CLEAR FIX BY BRO CHENEY
 * Clearfix forces an element not to collapse
 *
 */
 .clearfix:after 
 {
     clear: both;
    content: "";
    display: table;
 }